/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #04D5FA; font-family: 'Anton', sans-serif;}
body { margin: 0; font-family: 'Anton', sans-serif; }
.red{
  color: red;
}
.v-middle{
  vertical-align: middle;
}
